.animatable-field-container {
    flex-direction: row;
}

.animatable-field-container > ObjectField {
    flex-grow: 1;
}

.animatable-field-container > Button#remove {
    display: flex;
}
.animatable-field-container.animatable-disabled > Button#remove {
    display: none;
}
.animatable-field-container > Button#add {
    display: none;
}
.animatable-field-container.animatable-disabled > Button#add {
    display: flex;
}

Toggle#disabled {
    display: none;
}
