.artifact-creation-container {
    flex-direction: row;
    flex-grow: 0;
    margin-bottom: 8px;
}

.artifact-creation-container > * {
    flex-basis: 100%;
    flex-shrink: 1;
    white-space: normal;
    -unity-text-align: middle-center;
}

.generation-options-container {
    margin-bottom: 8px;
    margin-top: 8px;
}

.layer-creation-container-buttons {
    flex-direction: row;
}

.layer-creation-container-buttons > Button {
    flex-grow: 1;
}

